.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  border: 2px solid black;
  width: 150px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profilepic{ 
  width: wrap-content;
  height: wrap-content;
}

a {
  text-decoration: none;
}

#contact-form {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


