nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090057;
    height: 85px;
    width: 100vw;
    font-size: 1.34rem;
}

nav div {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2rem;
    cursor: pointer;
}